In [ ]:
# 1. Python program to sum all the items

In [1]:
a=[23,14,12,44,63]
total=sum(a)
print("Sum of numbers is ",total)

Sum of numbers is  156

In [4]:
# 2. to Multiply all numbers
numbers = [6, 2, 3, 12]
print(numbers)
product=1  # Initialize a variable to store the product, starting with 1

[6, 2, 3, 12]

In [5]:
for num in numbers:
    product*=num
    
print("product of numbers is ", product)

product of numbers is  432

In [9]:
# 3 & 4. Python program to get the largest number and smallest number  from a list
s=[12,2354,22,355,24667,566,1099]
largest=max(s)
smallest=min(s)

In [10]:
print("Largest number is", largest)
print("Smallest number is ", smallest)

Largest number is 24667
Smallest number is  12

In [16]:
#5. Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of string

string =['abc', 'hello', 'noon', 'level', 'aba', '1221', '234']
count=0
for s in string:
    if len(s)>=2 and s[0]==s[-1]:
        count+=1

    
    
print("The number of strings where the first and last character are the same is:", count)

The number of strings where the first and last character are the same is: 4

In [17]:
# 6. Program to remove duplicates
d=[23,11,11,14,28,23,1,2,1,57,28]
unique=[]

In [27]:
for item in d:
    if item not in unique:
        unique.append(item)
print("List with duplicates removed- ", unique)
unique.sort()

List with duplicates removed-  [1, 2, 11, 14, 23, 28, 57]

In [32]:
#7. Python program to check a list is empty or not
sample=[23,45,24,55,66,98]
if len(sample)==0:
    print ("empty")
else:
    print("not empty")

not empty

In [33]:
# 8.Python program to clone or copy a list
original=[23,10,44,234,56]
new=original.copy()
print(new)

[23, 10, 44, 234, 56]

In [42]:
# 9. Python program to find the list of words that are longer than n from a given list of words
words= ['fish','rocket','airport','plastic', 'cricket', 'fan', 'dockyard']
n=int(input("Enter a number in single digit- "))
print("n=",n)
long_words=[a for a in words if len(a)>n]
print(f"words longer than {n} characters are {long_words}")

Enter a number in single digit- 4
n= 4
words longer than 4 characters are ['rocket', 'airport', 'plastic', 'cricket', 'dockyard']

In [1]:
# 10. Write a Program that get two lists as input and check if they have at least one common member
list1=[]
list2=[]

n1=int(input("enter number of elements for list 1- "))
n2=int(input("Enter number of elements for list 2- "))

for i in range(n1):
    m1=int(input(f"Enter member  {i+1}: "))
    list1.append(m1)
for j in range(n2):
    m2= int(input(f"Enter member {j+1}: "))
    list2.append(m2)
    
print(list1)
print(list2)

enter number of elements for list 1- 3
Enter number of elements for list 2- 4
Enter member  1: 25
Enter member  2: 65
Enter member  3: 542
Enter member 1: 48
Enter member 2: 574
Enter member 3: 65
Enter member 4: 39
[25, 65, 542]
[48, 574, 65, 39]

In [2]:
set1=set(list1)
set2=set(list2)
print(set1)
print(set2)

{65, 25, 542}
{48, 65, 574, 39}

In [6]:
if set1.intersection(set2):
    print(" List have atleast one common member-",list(set1.intersection(set2)))
    
else:
   ("there are no common members")

 List have atleast one common member- [65]

In [ ]:
# 11. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements

In [2]:
old_list= ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Panda"]
print(old_list)

['Cat', 'Dog', 'Elephant', 'Fox', 'Tiger', 'Lion', 'Panda']

In [10]:
## first printing the index and value 
for index,value in enumerate(old_list):
    print(f"index:{index}, value:{value}")

index:0, value:Cat
index:1, value:Dog
index:2, value:Elephant
index:3, value:Fox
index:4, value:Tiger
index:5, value:Lion
index:6, value:Panda

In [3]:
new_list=[x for (i,x) in enumerate (old_list) if i not in (0,4,5)]

In [5]:
print("list after removing 0th, 4th, 5th elements-\n",new_list)

list after removing 0th, 4th, 5th elements-
 ['Dog', 'Elephant', 'Fox', 'Panda']

In [8]:
# 12. Write a Python program to print the numbers of a specified list after removing even numbers from it
numbers=[12,3,54,33,17,10,7]
odd_numbers= [num for num in numbers if num %2!= 0]
print("Odd numbers are\n",odd_numbers)

Odd numbers are
 [3, 33, 17, 7]

In [14]:
# 13.  Write a Python program to shuffle and print a specified list (shuffle)
list_13= ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Panda"]

In [15]:
print(list_13)

['Cat', 'Dog', 'Elephant', 'Fox', 'Tiger', 'Lion', 'Panda']

In [11]:
import random

In [17]:
random.shuffle(list_13)

In [19]:
print("Shuffled list is\n",list_13)

Shuffled list is
 ['Panda', 'Lion', 'Cat', 'Fox', 'Tiger', 'Elephant', 'Dog']

In [ ]:
# 14. Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30

In [22]:
square= [x**2 for x in range(1,31)]

In [23]:
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [25]:
first_5= square[:5]
last_5= square[-5:]
print("First 5 elements", first_5)
print("Last 5 elements", last_5)

First 5 elements [1, 4, 9, 16, 25]
Last 5 elements [676, 729, 784, 841, 900]

In [26]:
# 15.  Write a Python program to generate all permutations of a list in Python. (itertools)
from itertools import permutations

In [28]:
list_15= [1,2,3]
all_permutations=list(permutations(list_15))

In [29]:
for p in all_permutations:
    print(p)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

In [30]:
# 16. Write a Python program to convert a list of characters into a string
list_16= ['T','u','t','o','r',' ','J','o','e','s']
print(list_16)

['T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's']

In [31]:
string_16= ''.join(list_16)
print(string_16)

Tutor Joes

In [32]:
# 17. Write a Python program to find the index of an item in a specified list
list_17= [20, 70, 30, 90, 10, 30, 90, 10, 80]
item_to_find= 30

In [33]:
index= list_17.index(item_to_find)

In [36]:
print("Index of specified item is",index)

Index of specified item is 2

In [37]:
# 18.  Write a Python program to flatten a shallow list
shallow_list= [[20,30,70],[30,90,10], [30,20], [70,90,10,80]]

In [ ]:
## Flatten: To transform this nested structure into a single-level list, meaning a list with no sublists, where all elements are on the same level.

In [40]:
flatten_list=[item for sublist in shallow_list for item in sublist]

In [41]:
print(flatten_list)

[20, 30, 70, 30, 90, 10, 30, 20, 70, 90, 10, 80]

In [1]:
#19. Write a Python program to add a list to the second list
list_1= [10, 20, 30, 40]
list_2= ["Cat", "Dog", "Lion", "Panda"]

In [3]:
add= list_1+list_2
print("combined list\n",add)

combined list
 [10, 20, 30, 40, 'Cat', 'Dog', 'Lion', 'Panda']

In [7]:
 # 20. Write a Python program to select an item randomly from a list Using random.choice()
list_20=  ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Panda"]

In [8]:
import random
random_choice= random.choice(list_20)
print(random_choice)

Cat

In [9]:
#21. Write a python program to check whether two lists are circularly identical
list_1=[8, 8, 12, 12, 8]
list_2= [8, 8, 8, 12, 12]
def circularly_identical(list1, list2):
    # Check if both lists have the same length
    if len(list1) != len(list2):
        return False

    # Concatenate list_1 with itself
    circular_list = list1 + list1

    # Check if list_2 is a sublist of circular_list
    if list2 in [circular_list[i:i + len(list2)] for i in range(len(list1))]:
        return True
    else:
        return False


if circularly_identical(list_1, list_2):
    print("Lists are circularly identical")
else:
    print("Lists are not circularly identical")

Lists are circularly identical

In [10]:
#22. . Write a Python program to find the second smallest number in a list
list_22= [2,4,56,78,4,34,5,8,9]
print(list_22)

[2, 4, 56, 78, 4, 34, 5, 8, 9]

In [11]:
smallest = float('inf')
second_smallest = float('inf')
for num in list_22:
    if num < smallest:
        second_smallest = smallest
        smallest = num
    elif num < second_smallest and num != smallest:
        second_smallest = num

In [12]:
print("Second smallest number", second_smallest)

Second smallest number 4

In [16]:
# 23. Write a Python program to find the second largest number in a list
list_23= [82,4,56,78,4,34,5,100,9]
print(list_23)

[82, 4, 56, 78, 4, 34, 5, 100, 9]

In [17]:

largest = float('-inf')
second_largest = float('-inf')

for num in list_23:
    if num > largest:
        second_largest = largest
        largest = num
    elif num > second_largest and num != largest:
        second_largest = num

print("Second largest number:", second_largest)

Second largest number: 82

In [18]:
#24. Write a Python program to get unique values from a list
list_24= [82, 4, 10, 56, 78, 4, 34, 5, 10, 9]
print(list_24)

[82, 4, 10, 56, 78, 4, 34, 5, 10, 9]

In [19]:
# We need Get unique values using set
unique_values_set = set(list_24)
print("Unique values as set:", unique_values_set)

# Convert the set back to a list
unique_values_list = list(unique_values_set)
print("Unique values as list:", unique_values_list)

Unique values as set: {34, 4, 5, 9, 10, 78, 82, 56}
Unique values as list: [34, 4, 5, 9, 10, 78, 82, 56]

In [20]:
#25. . Write a Python program to get the frequency of the elements in a list.
list_25=[10, 30, 50, 10, 20, 60, 20, 60, 40, 40, 50, 50, 30]
print(list_25)

[10, 30, 50, 10, 20, 60, 20, 60, 40, 40, 50, 50, 30]

In [21]:
from collections import Counter

elements=Counter(list_25)
print(elements)

Counter({50: 3, 10: 2, 30: 2, 20: 2, 60: 2, 40: 2})

In [22]:
# 26.  Create a list by concatenating a given list which range goes from 1 to n
given_list = ['T', 'J']
n=10

In [23]:
# Create the concatenated list using a list comprehension
result_list = [item + str(i) for i in range(1, n + 1) for item in given_list]

# Print the result
print("N =", n)
print(result_list)

N = 10
['T1', 'J1', 'T2', 'J2', 'T3', 'J3', 'T4', 'J4', 'T5', 'J5', 'T6', 'J6', 'T7', 'J7', 'T8', 'J8', 'T9', 'J9', 'T10', 'J10']

In [24]:
# 27. Write a Python program to get variable unique identification number or string

x = 30
s = "Tutor Joes"

In [29]:
id_x=id(x)
id_s=id(s)

In [32]:
print(f"Unique id of x {id_x}")
print(f"unique id of s {id_s}")

Unique id of x 140733739734728
unique id of s 2474089443888

In [33]:
# 28. Write a Python program to find common items from two lists
list_a=[23,45,67,78,89,34]
list_b= [34,89,55,56,39,67]
common_item=list(set(list_a) & set(list_b))

In [35]:
print(common_item)

[89, 34, 67]

In [36]:
# 29. Write a Python program to split a list based on first character of word
list_29= ["cat", "dog", "cow", "tiger", "lion", "Fox", "Shark", "Snake", "turtle", "mouse", "monkey", 
"bear"]
print(list_29)

['cat', 'dog', 'cow', 'tiger', 'lion', 'Fox', 'Shark', 'Snake', 'turtle', 'mouse', 'monkey', 'bear']

In [37]:
# creating an empty dictionary
word_dict={}

In [45]:
for word in list_29:
    first_char= word[0].upper()
    if first_char not in word_dict:
        word_dict[first_char]=[word]
    else:
        word_dict[first_char].append(word)

In [41]:
for key, words in sorted(word_dict.items()):
    print(key)
    for word in words:
        print(word)

B
bear
C
cat
cow
D
dog
F
Fox
L
lion
M
mouse
monkey
S
Shark
Snake
T
tiger
turtle

In [52]:
# 30.Write a Python program to select the odd number of a list
list_30= [1,2,4,3,6,7,5,8,9,7,8,9,10]
odd_numbers=[num for num in list_30 if num%2!=0]

In [53]:
print(odd_numbers)

[1, 3, 7, 5, 9, 7, 9]

In [54]:
#31. Write a Python Program to count unique values inside a list
list_31= [10, 20, 30, 50, 80, 70, 70, 80, 10]
set_31=set (list_31)

In [56]:
list_count=len(set_31)
print("unique values are",list_count)

unique values are 6

In [60]:
# 32. Write a Python Program to List product excluding duplicates
list_32= [2, 1, 2, 4, 6, 4, 3, 2, 1]
import math

In [61]:
set_32= set(list_32)
set_32

{1, 2, 3, 4, 6}

In [63]:
prod_32= math.prod(set_32)
print("product of unique values=",prod_32)

product of unique values= 144

In [64]:
#33. Write a Python Program to Extract elements with Frequency greater than K
list_33= [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
print(list_33)

[4, 6, 4, 3, 3, 4, 3, 7, 8, 8]

In [66]:
K=2

In [74]:
res=[]

In [76]:
for i in list_33:
    freq=list_33.count(i)
    if freq>K and i not in res:
        res.append(i)
print("required elements with frequency greater than K are:",res)

required elements with frequency greater than K are: [4, 3]

In [77]:
#34. Write a Python Program to Test if List contains elements in Range
list_34= [3,6,4,8,9,12,15]
list_34

[3, 6, 4, 8, 9, 12, 15]

In [83]:
start_range=2
end_range=20
contains_range = all(start_range <= element <= end_range for element in list_34)
if contains_range:
    print(f"The list contains elements within the range {start_range} to {end_range}")
else:
    print(f"The list does not contain elements within the range {start_range} to {end_range}")

The list contains elements within the range 2 to 20

In [91]:
#35. Write a Python program to check if the list contains three consecutive common numbers in Python
numbers = [18, 18, 18, 6, 3, 4, 9, 9, 9]

size = len(numbers)

# looping till length - 2
for i in range(size - 2):
    if numbers[i] == numbers[i + 1] and numbers[i + 1] == numbers[i + 2]:
        print(numbers[i])

18
9

In [ ]:
#36. Write a Python program to find the Strongest Neighbour

In [1]:
list_36= [10,20,30,20,30,400]

In [2]:
strongest = [max(list_36[i], list_36[i + 1]) for i in range(len(list_36 ) - 1)]
print("The strongest neighbors are:", strongest)

The strongest neighbors are: [20, 30, 30, 30, 400]

In [3]:
# 37. Write a Python Program to print all Possible Combinations from the three Digits
digits= [1, 2, 3]

In [4]:
from itertools import permutations

In [5]:
permutations_list=list(permutations(digits))
print(permutations_list)

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [6]:
for perm in permutations_list:
    print(perm)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

In [7]:
# 38. Write a Python program to find all the Combinations in the list with the given condition
from itertools import combinations

In [13]:
list_38=['Tutor Joes','Software', 'Computer', 'Solution', 'Education']

In [14]:
combinations_list=list(combinations(list_38,3))

In [15]:
print(combinations_list)

[('Tutor Joes', 'Software', 'Computer'), ('Tutor Joes', 'Software', 'Solution'), ('Tutor Joes', 'Software', 'Education'), ('Tutor Joes', 'Computer', 'Solution'), ('Tutor Joes', 'Computer', 'Education'), ('Tutor Joes', 'Solution', 'Education'), ('Software', 'Computer', 'Solution'), ('Software', 'Computer', 'Education'), ('Software', 'Solution', 'Education'), ('Computer', 'Solution', 'Education')]

In [16]:
#39. Write a Python program to get all unique combinations of two Lists
from itertools import product

In [17]:
list_1= ['A','B','C']
list_2=[1,2,3]

In [19]:
combine_list=list(product(list_1, list_2))

In [20]:
print(combine_list)

[('A', 1), ('A', 2), ('A', 3), ('B', 1), ('B', 2), ('B', 3), ('C', 1), ('C', 2), ('C', 3)]

In [21]:
#40. Write a Python program to remove all the occurrences of an element from a list
list_40= [1, 3, 4, 6, 5, 1]
element_to_remove=1
filtered_list=[num for num in list_40 if num !=element_to_remove]

In [22]:
print(filtered_list)

[3, 4, 6, 5]

In [25]:
#41. Write a Python Program to Remove Consecutive K element records
test_list = [(4, 5, 6, 3), (5, 6, 6, 9), (1, 3, 5, 6), (6, 6, 7, 8)]
K = 6

temp_list = []
for item in test_list:
    skip = False
    for i in range(len(item)-1):
        if item[i] == K and item[i+1] == K:
            skip = True
            break
    if not skip:
        temp_list.append(item)
res=temp_list

print("The records after removal : ", res)

The records after removal :  [(4, 5, 6, 3), (1, 3, 5, 6)]

In [26]:
#42.  Write a Python Program to Replace index elements with elements in Other List
list1 = ['Tutor Joes', 'Computer', 'Education']
list2 = [2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2]

In [27]:
# Replace index elements from list1 with elements from list2
result_list=[list1[i] for i in list2]
print(result_list)

['Education', 'Computer', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Education', 'Education', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Computer', 'Education']

In [28]:
# 43. Write a Python Program to Retain records with N occurrences of K
list_43= [(4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9)]
K=5
N=2

In [29]:
# Count the occurrences of K in each tuple
counted_tuples = [tup for tup in list_43 if tup.count(K) == N]

In [30]:
print(counted_tuples)

[(4, 5, 6, 5, 4), (5, 5, 2)]

In [31]:
#44.Write a Python Program to Swap elements in String list
list_44=['Tutor', 'joes', 'Computer', 'Education']
list_44[1],list_44[2]=list_44[2],list_44[1]
print(list_44)

['Tutor', 'Computer', 'joes', 'Education']

In [38]:
#45. Write a Python program to reverse All Strings in String List

Original_list = ['Tutor', 'joes', 'Computer', 'Education']
reversed_list=Original_list[::-1]
# Print the reversed list
print("Original list =", Original_list)
print("Reversed list =", reversed_list)
reversed_list2 = [string[::-1] for string in Original_list]
print("Reversed list with reversed alphabets",reversed_list2)

Original list = ['Tutor', 'joes', 'Computer', 'Education']
Reversed list = ['Education', 'Computer', 'joes', 'Tutor']
Reversed list with reversed alphabets ['rotuT', 'seoj', 'retupmoC', 'noitacudE']

In [41]:
#46.Write a Python program to find the character position of Kth word from a list of strings
list_46= ['Tutor', 'joes', 'Computer', 'Education']

k = 2

# Finding character position of the Kth word
words = ' '.join(list_46).split()
if k <= len(words):
    kth_word = words[k - 1]  
    start_position = ' '.join(list_46).index(kth_word)  # Finding the starting position of the word
    print(f"The character position of the {k}th word '{kth_word}' is: {start_position}")
else:
    print(f"There is no {k}th word in the list of strings.")

The character position of the 2th word 'joes' is: 6

In [46]:
#47. . Write a Python Program to Prefix frequency in string List

list_47= ['TjC', 'TjCpp', 'TjPython', 'Java']


# printing original list
print("The original list is : ", list_47)

# Initializing substring
prefix= 'Tj'

# Prefix frequency in List
# using loop + startswith()
i= 0
for ele in list_47:
    if ele.startswith(prefix):
        i=i+1

# printing result
print("Strings count with matching frequency : ", i)

The original list is :  ['TjC', 'TjCpp', 'TjPython', 'Java']
Strings count with matching frequency :  3

In [47]:
#48. Write a Python Program to Split Strings on Prefix Occurrence
list_48= ['TjC', 'TjCpp', 'TjPython', 'Java', 'tj']

In [49]:
prefix='Tj'

In [52]:
prefixed = []
non_prefixed = []

for string in list_48:
    if string.startswith(prefix):
        prefixed.append(string.split(prefix, 1)[-1])
    else:
        non_prefixed.append(string)

print(f"Strings with prefix '{prefix}':")
print(prefixed)

print(f"\nStrings without prefix '{prefix}':")
print(non_prefixed)

Strings with prefix 'Tj':
['C', 'Cpp', 'Python']

Strings without prefix 'Tj':
['Java', 'tj']

In [53]:
#49. Write a Python program to Replace all Characters of a List Except the given character
list_49= ['a', 'b', 'c', 'a', 'd', 'e']
char_to_keep = 'a'
replacement_char = '@'

result = []

for char in list_49:
    if char == char_to_keep:
        result.append(char)  # Keeping the character unchanged
    else:
        result.append(replacement_char)  # Replacing characters that don't match

print("List after replacement:", result)

List after replacement: ['a', '@', '@', 'a', '@', '@']

In [61]:
#50. Write a Python Program to Add Space between Potential Words
list_50= ['TutorJoes', 'ComputerEducations']

import re
print("The original list : " + str(list_50))

# using regex() to perform task 
res = [re.sub(r"(\w)([A-Z])", r"\1 \2", ele) for ele in list_50]

print("The space added list of strings : ",res)

The original list : ['TutorJoes', 'ComputerEducations']
The space added list of strings :  ['Tutor Joes', 'Computer Educations']