In [1]:
%matplotlib inline
import pandas as pd

In [2]:
cast = pd.read_csv('C:/Users/91878/Desktop/Â /Data Science tools/data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [7]:
print("Number of movies listed in the titles dataframe are: ",cast['title'].count())

Number of movies listed in the titles dataframe are:  3611206

### What are the earliest two films listed in the titles dataframe?

In [3]:
cast.sort_values(['year']).head(5)

,title,year,name,type,character,n
2514470,Miss Jerry,1894,Blanche Bayliss,actress,Miss Geraldine Holbrook (Miss Jerry),NaN
555929,Miss Jerry,1894,Chauncey Depew,actor,Himself - the Director of the New York Central...,NaN
464860,Miss Jerry,1894,William Courtenay,actor,Mr. Hamilton,NaN
1718214,Soldiers of the Cross,1900,Reg Perry,actor,Lion,NaN
1718063,Soldiers of the Cross,1900,Orrie Perry,actor,Lion,NaN

In [40]:
year_index=cast.set_index('year')
year_index.sort_index(inplace=True)

In [42]:
unique_title=year_index['title'].unique()
first_two=unique_title[:2]
print("The earliest two films listed in the titles dataframe are",first_two)

The earliest two films listed in the titles dataframe are ['Miss Jerry' 'Soldiers of the Cross']

### How many movies have the title "Hamlet"?

In [46]:
hamlet_count=(cast['title']=='Hamlet').sum()

In [53]:
print(f"the number of movies with title 'Hamlet' is : {hamlet_count}")

the number of movies with title 'Hamlet' is : 313

### How many movies are titled "North by Northwest"?

In [48]:
north_count=(cast['title']=="North by Northwest").sum()

In [52]:
print(f"The number of movies with title 'North by Northwest' is : {north_count}")

The number of movies with title 'North by Northwest' is : 112

### When was the first movie titled "Hamlet" made?

In [18]:
hamlet_movie=cast[cast['title']=="Hamlet"][['title','year']].sort_values(['year'])

In [30]:
print("First movie titled 'Hamlet' was released on", hamlet_movie['year'].iloc[0])

First movie titled 'Hamlet' was released on 1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [34]:
treasure_island=cast[cast['title']=='Treasure Island'].sort_values(['year'])

In [35]:
print("All Treasure island movies from earliest to most recent:\n",treasure_island)

All Treasure island movies from earliest to most recent:
                    title  year                  name     type  \
830114   Treasure Island  1918        Charles Gorman    actor
840745   Treasure Island  1918             Joe Grant    actor
909157   Treasure Island  1918          Edwin Harley    actor
3298306  Treasure Island  1918      Violet Radcliffe  actress
1715014  Treasure Island  1918            Lloyd Perl    actor
...                  ...   ...                   ...      ...
2420089  Treasure Island  1999          Caveh Zahedi    actor
1637661  Treasure Island  1999         Nick Offerman    actor
1375015  Treasure Island  1999           J.P. Manoux    actor
1797264  Treasure Island  1999  Victor Raider-Wexler    actor
307749   Treasure Island  1999          Bob Byington    actor

                       character     n
830114           Prologue Player   NaN
840745   Undetermined child role   NaN
909157           Prologue Player   NaN
3298306         Long John Silver   3.0
1715014                Black Dog   4.0
...                          ...   ...
2420089                   Harold   9.0
1637661                   Samuel   2.0
1375015           Officer Hughes  18.0
1797264                 Samowitz  10.0
307749                    Thomas  12.0

[190 rows x 6 columns]

### How many movies were made in the year 1950?

In [48]:
year_1950_movies=(cast['year']==1950).sum()

In [49]:
print("Movies made in year 1950 are ",year_1950_movies)

Movies made in year 1950 are  22006

### How many movies were made in the year 1960?

In [50]:
year_1960_movies=(cast['year']==1960).sum()

In [51]:
print("Movies made in year 1960 are ",year_1960_movies)

Movies made in year 1960 are  18456

### How many movies were made from 1950 through 1959?

In [53]:
movies_1950_1959= ((cast['year']>=1950) & (cast['year']<=1959)).sum()

In [55]:
print("Movies made between 1950 and 1959 are ", movies_1950_1959)

Movies made between 1950 and 1959 are  210986

### In what years has a movie titled "Batman" been released?

In [60]:
cast[cast['title']=='Batman'][['title','year']]

          title  year
95672    Batman  1943
96186    Batman  1943
114034   Batman  1989
119476   Batman  1989
149767   Batman  1989
...         ...   ...
2907449  Batman  1989
3253550  Batman  1943
3343947  Batman  1989
3345872  Batman  1989
3356826  Batman  1989

[120 rows x 2 columns]

### How many roles were there in the movie "Inception"?

In [96]:
roles=cast[cast['title']=='Inception'][['title','character']]

In [101]:
print("Number of unique roles in Inception movie are-", roles['character'].nunique())

Number of unique roles in Inception movie are- 55

In [105]:
roles_df=pd.DataFrame(roles, columns=['character'])
roles_df

                     character
94333            LAX Passenger
143138   Fischer's Jet Captain
176819                Browning
190249        Mombasan Gambler
250191          Bridge Sub Con
...                        ...
3238950                Ariadne
3292669          Lobby Sub Con
3319073          Private Nurse
3325768                 Blonde
3560127                Old Mal

[77 rows x 1 columns]

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [22]:
inception_movie=cast[cast["title"]=='Inception']

In [25]:
inception_movie

,title,year,name,type,character,n
94333,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
143138,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
176819,Inception,2010,Tom Berenger,actor,Browning,8.0
190249,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
250191,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
...,...,...,...,...,...,...
3238950,Inception,2010,Ellen Page,actress,Ariadne,3.0
3292669,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3319073,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3325768,Inception,2010,Talulah Riley,actress,Blonde,25.0
3560127,Inception,2010,Shannon Welles,actress,Old Mal,51.0

In [38]:
print("Roles in the movie Inception which are not ranked by 'n' are ", inception_movie[inception_movie.n.notnull()].n.count())

Roles in the movie Inception which are not ranked by 'n' are  51

### But how many roles in the movie "Inception" did receive an "n" value?

In [37]:
print("Roles in the movie Inception which are ranked by 'n' value are", inception_movie.n.isnull().sum())

Roles in the movie Inception which are ranked by 'n' value are 26

In [48]:
inception_movie[inception_movie.n.notnull()]

,title,year,name,type,character,n
143138,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
176819,Inception,2010,Tom Berenger,actor,Browning,8.0
250191,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
314663,Inception,2010,Michael Caine,actor,Miles,11.0
321091,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
417982,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
428199,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
498708,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
569504,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
684215,Inception,2010,Russ Fega,actor,Cab Driver,23.0
711192,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
779284,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
783405,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
802478,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
803728,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
829338,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
878274,Inception,2010,Lukas Haas,actor,Nash,12.0
907468,Inception,2010,Tom Hardy,actor,Eames,4.0
932903,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
1129157,Inception,2010,Tim Kelleher,actor,Thin Man,24.0
1262529,Inception,2010,Tai-Li Lee,actor,Tadashi,13.0
1403138,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18.0
1558174,Inception,2010,Cillian Murphy,actor,Robert Fischer,7.0
1560914,Inception,2010,Jack (III) Murray,actor,Bar Sub Con,35.0
1609028,Inception,2010,Magnus Nolan,actor,James (20 months),15.0
1640994,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19.0
1747077,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
1760521,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10.0
1794461,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39.0
1808640,Inception,2010,Dileep Rao,actor,Yusuf,6.0
1975441,Inception,2010,Felix Scott,actor,Businessman,46.0
2168785,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2184854,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2318555,Inception,2010,Ken Watanabe,actor,Saito,5.0
2516169,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2658136,Inception,2010,Marion Cotillard,actress,Mal,9.0
2668039,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
2697084,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2814544,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2814552,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
3019159,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
3025693,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
3067377,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
3088316,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3198324,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
3213496,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
3238950,Inception,2010,Ellen Page,actress,Ariadne,3.0
3292669,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3319073,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3325768,Inception,2010,Talulah Riley,actress,Blonde,25.0
3560127,Inception,2010,Shannon Welles,actress,Old Mal,51.0

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [40]:
north_movie=cast[cast["title"]=='North by Northwest']

In [41]:
north_movie

,title,year,name,type,character,n
12151,North by Northwest,1959,Stanley Adams,actor,Lieutenant Harding,NaN
27852,North by Northwest,1959,Andy Albin,actor,Farmer,NaN
54093,North by Northwest,1959,Don Anderson,actor,Worker,NaN
54307,North by Northwest,1959,Ernest Anderson,actor,Porter on Twentieth Century Ltd.,NaN
92195,North by Northwest,1959,Malcolm Atterbury,actor,Man at Prairie Crossing,NaN
...,...,...,...,...,...,...
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
3416124,North by Northwest,1959,Doris Singh,actress,First United Nations Receptionist,NaN
3437248,North by Northwest,1959,Helen Spring,actress,Bidder,NaN
3567500,North by Northwest,1959,Susan Whitney,actress,Attendant,NaN
3578877,North by Northwest,1959,Paula Winslowe,actress,Woman at Auction,NaN

In [58]:
north_sorted=north_movie[north_movie.n.notnull()].sort_values(['n'])

In [64]:
print("Cast of North by Northwest ignoring roles that did not earn a numeric 'n' value \n",north_sorted[['name','character','n']])

Cast of North by Northwest ignoring roles that did not earn a numeric 'n' value
                          name                    character     n
840374             Cary Grant           Roger O. Thornhill   1.0
3361396       Eva Marie Saint                  Eve Kendall   2.0
1404704           James Mason              Phillip Vandamm   3.0
3024085   Jessie Royce Landis              Clara Thornhill   4.0
343701         Leo G. Carroll                The Professor   5.0
2923056  Josephine Hutchinson                Mrs. Townsend   6.0
1634552           Philip Ober              Lester Townsend   7.0
1229083         Martin Landau                      Leonard   8.0
2357939         Adam Williams                     Valerian   9.0
1746383          Edward Platt              Victor Larrabee  10.0
642085      Robert Ellenstein                        Licht  11.0
2212083          Les Tremayne                   Auctioneer  12.0
447893        Philip Coolidge                    Dr. Cross  13.0
1454363         Patrick McVey               Sergeant Flamm  14.0
198496           Edward Binns               Captain Junket  15.0
1334726             Ken Lynch  Charley - Chicago Policeman  16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [12]:
movie_1972=cast[cast['year']==1972]

In [15]:
sleuth_1972=movie_1972[movie_1972['title']=='Sleuth'].sort_values(['n'])

In [16]:
print("Entire cast in 'n' order of the 1972 Sleuth movie-\n", sleuth_1972)

Entire cast in 'n' order of the 1972 Sleuth movie-
           title  year                name     type  \
1644328  Sleuth  1972    Laurence Olivier    actor
314691   Sleuth  1972       Michael Caine    actor
360365   Sleuth  1972      Alec Cawthorne    actor
1412647  Sleuth  1972  John (II) Matthews    actor
2619278  Sleuth  1972  Eve (III) Channing  actress
1396572  Sleuth  1972        Teddy Martin    actor

                          character    n
1644328                 Andrew Wyke  1.0
314691                  Milo Tindle  2.0
360365            Inspector Doppler  3.0
1412647  Detective Sergeant Tarrant  4.0
2619278             Marguerite Wyke  5.0
1396572      Police Constable Higgs  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [21]:
sleuth_movie=cast[cast['title']=='Sleuth']

In [23]:
sleuth_2007= sleuth_movie[sleuth_movie['year']==2007].sort_values(['n'])

In [25]:
print("the entire cast, in 'n'-order, of the 2007 version of 'Sleuth' \n", sleuth_2007)

the entire cast, in 'n'-order, of the 2007 version of 'Sleuth'
           title  year                 name     type          character    n
314692   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1246855  Sleuth  2007             Jude Law    actor               Milo  2.0
1741124  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3223502  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [15]:
hamlet_movie=cast[cast['title']=='Hamlet']
hamlet_1921=hamlet_movie[hamlet_movie['year']==1921]

print(" Number of roles credited n the silent 1921 version of hamlet are\n",hamlet_1921.character.count())

 Number of roles credited n the silent 1921 version of hamlet are
 9

### How many roles were credited in Branaghâs 1996 Hamlet?

In [18]:
hamlet_1996=hamlet_movie[hamlet_movie['year']==1996]
print("Number of roles are",hamlet_1996.character.count())

Number of roles are 54

### How many "Hamlet" roles have been listed in all film credits through history?

In [19]:
hamlet_movie

          title  year              name     type              character     n
1615     Hamlet  1996        Riz Abbasi    actor  Attendant to Claudius   1.0
7438     Hamlet  1921  Fritz Achterberg    actor            Fortinbras,   9.0
11242    Hamlet  2009      Hayden Adams    actor                Laertes   7.0
11243    Hamlet  2009      Hayden Adams    actor                 Player   7.0
13907    Hamlet  1913       Eric Adeney    actor               Reynaldo  14.0
...         ...   ...               ...      ...                    ...   ...
3505738  Hamlet  1969    Jennifer Tudor  actress             Court lady  23.0
3528322  Hamlet  2000      Diane Venora  actress               Gertrude   3.0
3557773  Hamlet  1996     Perdita Weeks  actress          Second Player  44.0
3562331  Hamlet  2015   Katie (II) West  actress                Ophelia   7.0
3578802  Hamlet  1996      Kate Winslet  actress                Ophelia  46.0

[313 rows x 6 columns]

In [21]:
print("Number of 'Hamlet' roles credited in all film credits are:",hamlet_movie.n.sum())

Number of 'Hamlet' roles credited in all film credits are: 3304.0

### How many people have played an "Ophelia"?

In [22]:
ophelia_movie=cast[cast['title']=='Ophelia']

In [26]:
print("Number of people who have played Ophelia are",ophelia_movie.character.count())

Number of people who have played Ophelia are 2

### How many people have played a role called "The Dude"?

In [47]:
dude_role=cast[cast['character']=='The Dude']
print("Number of people who have played a role called 'The Dude' are",dude_role.name.nunique())

Number of people who have played a role called 'The Dude' are 18

### How many people have played a role called "The Stranger"?

In [46]:
stranger_role=cast[cast['character']=='The Stranger']
print("Number of people who have played a role called 'The Stranger' are",stranger_role.name.nunique())

Number of people who have played a role called 'The Stranger' are 197

### How many roles has Sidney Poitier played throughout his career?

In [54]:
poitier_movies=cast[cast['name']=='Sidney Poitier']
print("Number of roles Sidney Poitier played throughout his career are: ",poitier_movies.character.nunique())

Number of roles Sidney Poitier played throughout his career are:  41

### How many roles has Judi Dench played?

In [58]:
dench_movies=cast[cast['name']=='Judi Dench']
print("Number of roles Judi Dench played are: ",dench_movies.character.nunique())

Number of roles Judi Dench played are:  46

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [73]:
cary_movies=cast[cast['name']=='Cary Grant']
cary_1940s_movies=  cary_movies[(cary_movies['year'] >= 1940) & (cary_movies['year'] <= 1950)]
required_data= cary_1940s_movies[cary_1940s_movies['n']==2]

In [83]:
final=required_data[['character','year']]

In [87]:
final_df=pd.DataFrame(final)
print("Roles played by Cary Grant in 9140s where n=2 are\n",final_df.to_string(index=False, header=False))

Roles played by Cary Grant in 9140s where n=2 are
        Nick 1940
Roger Adams 1941

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [95]:
cary_sort_1940s=cary_1940s_movies.sort_values(['year'])
print("Roles played by Cary Grant in 1940s are \n\n",cary_sort_1940s)

Roles played by Cary Grant in 1940s are

                                        title  year        name   type  \
840399                The Philadelphia Story  1940  Cary Grant  actor
840397               The Howards of Virginia  1940  Cary Grant  actor
840353                       His Girl Friday  1940  Cary Grant  actor
840371                      My Favorite Wife  1940  Cary Grant  actor
840386                             Suspicion  1941  Cary Grant  actor
840381                        Penny Serenade  1941  Cary Grant  actor
840401                  The Talk of the Town  1942  Cary Grant  actor
840377                 Once Upon a Honeymoon  1942  Cary Grant  actor
840344                     Destination Tokyo  1943  Cary Grant  actor
840369                             Mr. Lucky  1943  Cary Grant  actor
840370                             Mr. Lucky  1943  Cary Grant  actor
840336                  Arsenic and Old Lace  1944  Cary Grant  actor
840373             None But the Lonely Heart  1944  Cary Grant  actor
840378                      Once Upon a Time  1944  Cary Grant  actor
840351               George White's Scandals  1945  Cary Grant  actor
840372                         Night and Day  1946  Cary Grant  actor
840375                             Notorious  1946  Cary Grant  actor
840415                  Without Reservations  1946  Cary Grant  actor
840393      The Bachelor and the Bobby-Soxer  1947  Cary Grant  actor
840394                     The Bishop's Wife  1947  Cary Grant  actor
840368  Mr. Blandings Builds His Dream House  1948  Cary Grant  actor
840348          Every Girl Should Be Married  1948  Cary Grant  actor
840357                I Was a Male War Bride  1949  Cary Grant  actor
840342                                Crisis  1950  Cary Grant  actor

                          character    n
840399           C. K. Dexter Haven  1.0
840397                  Matt Howard  1.0
840353                 Walter Burns  1.0
840371                         Nick  2.0
840386                      Johnnie  1.0
840381                  Roger Adams  2.0
840401                 Leopold Dilg  1.0
840377        Patrick 'Pat' O'Toole  1.0
840344                Capt. Cassidy  1.0
840369                    Joe Adams  1.0
840370              Joe Bascopolous  1.0
840336            Mortimer Brewster  1.0
840373                   Ernie Mott  1.0
840378                  Jerry Flynn  1.0
840351                   Cary Grant  NaN
840372                  Cole Porter  1.0
840375                       Devlin  1.0
840415                   Cary Grant  NaN
840393                  Dick Nugent  1.0
840394                       Dudley  1.0
840368                Jim Blandings  1.0
840348            Dr. Madison Brown  1.0
840357        Captain Henri Rochard  1.0
840342  Dr. Eugene Norland Ferguson  1.0

### How many roles were available for actors in the 1950s?

In [110]:
movies_1950=cast[(cast['year'] >= 1950) & (cast['year'] <1960)]

print("Roles available for actors in the 1950s are",movies_1950[movies_1950['type']=='actor'].character.nunique())

Roles available for actors in the 1950s are 91786

### How many roles were available for actresses in the 1950s?

In [111]:
print("Roles available for actors in the 1950s are",movies_1950[movies_1950['type']=='actress'].character.nunique())

Roles available for actors in the 1950s are 35432

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [114]:
till_1980=cast[cast['year']<1980]

In [117]:
print("Number of leading roles till 1980 were",till_1980[till_1980['n']==1].character.nunique())

Number of leading roles till 1980 were 50396

### How many non-leading roles were available through from the beginning of film history through 1980?

In [118]:
print("Number of non-leading roles till 1980 were",till_1980[till_1980['n']!=1].character.nunique())

Number of non-leading roles till 1980 were 548816

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [128]:
print("Roles till 1980 which are not having any numeric n rank are\n",till_1980[till_1980['n'].isnull()].character.nunique())

Roles till 1980 which are not having any numeric n rank are
 183899