In [1]:
#1. Program to create a Tuple
a=()
print(a)
print(type(a))

()
<class 'tuple'>

In [3]:
# 2.Program to create a tuple with different data types
b=('Ram','Kriti',345,5.22,'Rishabh','A')
print(b)
print(type(b))

('Ram', 'Kriti', 345, 5.22, 'Rishabh', 'A')
<class 'tuple'>

In [4]:
#3.  Program to create a tuple with numbers and print one item
c=(23,12,56,14)
c[1]

12

In [12]:
#4. Write a Python program to unpack a tuple in several variables
d=('India',10,'Country',4)
var1,var2,var3,var4=d
print("var1:",var1)
print("var2:",var2)
print("var2:",var3)
print("var2:",var4)

var1: India
var2: 10
var2: Country
var2: 4

In [18]:
#5.Write a Python program to add an item in a tuple
old=('tree','mountain','river')
print(old)
print(type(old))

('tree', 'mountain', 'river')
<class 'tuple'>

In [35]:
new_item=('nature',)
print(new_item)
print(type(new_item))

('nature',)
<class 'tuple'>

In [37]:
new_statement=old+new_item
print(new_statement)

('tree', 'mountain', 'river', 'nature')

In [38]:
#6. Write a Python program to convert a tuple to a string
tup=('t','u','t','o','r')
print(tup)
print(type(tup))

('t', 'u', 't', 'o', 'r')
<class 'tuple'>

In [43]:
st=''.join(tup)
print(st)
print(type(st))

tutor
<class 'str'>

In [44]:
#7. Write a Python program to get the 4th element and 4th element from last of a tuple
f=(23,34,45,56,67,46,46,90,87,65)
print(f)

(23, 34, 45, 56, 67, 46, 46, 90, 87, 65)

In [45]:
print("4th element from tuple:",f[3])
print("4th element from last in tuple",f[-4])

4th element from tuple: 56
4th element from last in tuple 46

In [46]:
#8. . Write a Python program to create the colon of a tuple 
## creating a colon means to create a new tuple that contains all elements of original tuple except first and last elements
orig=(234,54,'iron',44,'True','false','tutor')
print(orig)

(234, 54, 'iron', 44, 'True', 'false', 'tutor')

In [51]:
new_data=orig[1:-1]
colon=new_data
print(colon)

(54, 'iron', 44, 'True', 'false')

In [52]:
# creating a copy
cpy=tuple(orig)
print(cpy)

(234, 54, 'iron', 44, 'True', 'false', 'tutor')

In [85]:
#9. Write a Python program to find the repeated items of a tuple
ab=(23,90,87,23,43,77,87,1,12,23,90,87)
repeated=[]
for i in ab:
    if ab.count(i)>1 and i not in repeated:
        repeated.append(i)
repeated_item=tuple(repeated)
print("repeated items are:", repeated_item)

repeated items are: (23, 90, 87)

In [1]:
# 10. Write a Python program to check whether an element exists within a tuple
tp=(23,34,5,345,90,87)
print(tp)

(23, 34, 5, 345, 90, 87)

In [14]:
a=int(input("Enter element to check: "))
print("element to check",a)
if a in tp:
    print("True")
else:
    print("False")

Enter element to check: 87
element to check 87
True

In [15]:
#11. Write a Python program to convert a list to a tuple
l= [24,"fan",54,43,"table"]
print(l)
print(type(l))

[24, 'fan', 54, 43, 'table']
<class 'list'>

In [16]:
tup=tuple(l)
print(tup)
print(type(tup))

(24, 'fan', 54, 43, 'table')
<class 'tuple'>

In [17]:
# 12. Write a Python program to remove an item from a tuple
orig=(47,52,'lion',26,'deer')
print(orig)

(47, 52, 'lion', 26, 'deer')

In [18]:
orig1=list(orig)
print(orig1)

[47, 52, 'lion', 26, 'deer']

In [19]:
orig1.remove(26)
print(orig1)

[47, 52, 'lion', 'deer']

In [21]:
final=tuple(orig1)
print(final)
print(type(final))

(47, 52, 'lion', 'deer')
<class 'tuple'>

In [1]:
#13.  Write a Python program to slice a tuple
m=(23,345,24,56,76,86,37,90,89)
print(m)

(23, 345, 24, 56, 76, 86, 37, 90, 89)

In [2]:
n=m[2:6]
print(n)

(24, 56, 76, 86)

In [3]:
print(type(n))

<class 'tuple'>

In [10]:
#14. Write a Python program to find the index of an item of a tuple
j=(12,23,34,45,56,67)
print(j)
print("index of item is:",j.index(45))

(12, 23, 34, 45, 56, 67)
index of item is: 3

In [17]:
#15. Write a Python program to find the length of a tuple
n=(24,98,65,890,435)
print(len(n))

5

In [13]:
#16.  Write a Python program to convert a tuple to a dictionary
data1=( ("Name", "Ram"), ("Age", 23), ("City", "Salem"), ("Mark", 422) )
print(data1)
print(type(data1))

(('Name', 'Ram'), ('Age', 23), ('City', 'Salem'), ('Mark', 422))
<class 'tuple'>

In [14]:
dict1=dict(data1)
print(dict1)
print(type(dict1))

{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422}
<class 'dict'>

In [15]:
#17. Write a Python program to unzip a list of tuples into individual lists
l=((2,3),(5,78),(94,71))
result=list(zip(*l)) ## Here, zip() function and unzip operator * is used
print(result)

[(2, 5, 94), (3, 78, 71)]

In [20]:
# 18. Write a Python program to reverse a tuple
forward= (34,70,87,51,254)
back=forward[::-1]
print(back)

(254, 51, 87, 70, 34)

In [21]:
#19. Write a Python program to convert a list of tuples into a dictionary
my_tuple= [ ("Name", "Ram"), ("Name", "Pooja"), ("Age", 21), ("Gender", "Male"), ("Age", 23), ("Gender", 
"Female") ]
print(my_tuple)
print(type(my_tuple))

[('Name', 'Ram'), ('Name', 'Pooja'), ('Age', 21), ('Gender', 'Male'), ('Age', 23), ('Gender', 'Female')]
<class 'list'>

In [23]:
dict2=dict(my_tuple)
print(dict2)

{'Name': 'Pooja', 'Age': 23, 'Gender': 'Female'}

In [26]:
#20.  Write a Python program to print a tuple with string formatting
fr= ("watermelons", "strawberries", "mangoes", "bananas", "grapefruits", "oranges", "apples", 
"pears")
print("Fruits: {},{},{},{},{},{},{},{}".format(*fr))

Fruits: watermelons,strawberries,mangoes,bananas,grapefruits,oranges,apples,pears

In [30]:
#21.  Create a tuple with single item 23
single_item=(23,)
print(single_item)
print(type(single_item))

(23,)
<class 'tuple'>

In [31]:
#22. Unpack the tuple into 5 variables
my_tuple=(11, 22, 333, 44, 55)
var1,var2,var3,var4,var5=my_tuple
print(my_tuple)

(11, 22, 333, 44, 55)

In [32]:
for i in my_tuple:
    print(i)

11
22
333
44
55

In [33]:
#23.  Swap two tuples in Python
tuple1=(1,2,3)
tuple2=('a','b','c')
print("original tuple1: ", tuple1)
print("original tuple2: ", tuple2)
temp=tuple1 #introducing a temporary variable 'temp' to store the value
tuple1=tuple2
tuple2=temp
print("swapped tuple1: ",tuple1)
print("swapped tuple2: ",tuple2)

original tuple1:  (1, 2, 3)
original tuple2:  ('a', 'b', 'c')
swapped tuple1:  ('a', 'b', 'c')
swapped tuple2:  (1, 2, 3)

In [ ]:
#24. Copy specific elements from one tuple to a new tuple

In [34]:
orig_tuple=(1,4,67,36,44,77,23,58,37)
copy_element=orig_tuple[2:6]
print(copy_element)

(67, 36, 44, 77)

In [1]:
#25. Modify the tuple
f=(12,23,345,65,67)
j=list(f)
print(j)

[12, 23, 345, 65, 67]

In [2]:
j[2]=170
f1=tuple(j)
print(f1)

(12, 23, 170, 65, 67)

In [4]:
#26. Sort a tuple of tuples by 2nd item
# Original tuple of tuples
original_tuple = ((1, 5), (3, 2), (9, 10), (7, 6))

# Sort the tuple of tuples by the second item in each tuple
sorted_tuple = tuple(sorted(original_tuple, key=lambda x: x[1]))

print("Original Tuple:", original_tuple)
print("Sorted Tuple by the 2nd item:", sorted_tuple)

Original Tuple: ((1, 5), (3, 2), (9, 10), (7, 6))
Sorted Tuple by the 2nd item: ((3, 2), (1, 5), (7, 6), (9, 10))

In [1]:
#27. Count the number of occurrences of item 30 from a tuple
h=(30, 50, 10, 30, 70, 50, 30)
count_of_30= h.count(30)
print("count of 30 is ",count_of_30)

count of 30 is  3

In [6]:
#28. Write a Python program to compute element-wise sum of given tuples
tuple1=(1,2,3)
tuple2=(4,5,6)
tuple3=(7,8,9)
result_tuple = tuple(x + y + z for x, y, z in zip(tuple1, tuple2, tuple3))
     
print("sum of elements=",result_tuple)

sum of elements= (12, 15, 18)

In [7]:
#29. Write a Python program to sort a tuple by its float element
my_tuple = ( ('Alice', 25.5), ('Bob', 20.3), ('Charlie', 30.1), ('David', 15.9) )
sorted_tuple=tuple(sorted(my_tuple,key =lambda x:x[1])) # Sort the tuple based on float element (index 1)
print("sorted tuple by float element", sorted_tuple)

sorted tuple by float element (('David', 15.9), ('Bob', 20.3), ('Alice', 25.5), ('Charlie', 30.1))

In [1]:
#30. Write a Python program to replace last value of tuples in a list
list_of_tuples = [(5, 2, 3), (4, 7, 6), (8, 9, 6)]

In [2]:
# Value to replace the last element with
replace_value = 10

# Replace the last value in each tuple
modified_list = [(t[:-1] + (replace_value,)) for t in list_of_tuples]

# Print the original list and the modified list
print(list_of_tuples)
print("Replace value =", replace_value)
print(modified_list)

[(5, 2, 3), (4, 7, 6), (8, 9, 6)]
Replace value = 10
[(5, 2, 10), (4, 7, 10), (8, 9, 10)]

In [10]:
#31. Write a Python program to Extract tuples having K digit elements
# Using all() + list comprehension

test_list = [(54, 2), (34, 55), (222, 23), (12, 45), (78,25 )]

print("The original list is : ", test_list)

K = 2

# using len() and str() to check length and 
# perform string conversion
result = [sub for sub in test_list if all(len(str(ele)) == K for ele in sub)]

print("The Extracted tuples : ",result)

The original list is :  [(54, 2), (34, 55), (222, 23), (12, 45), (78, 25)]
The Extracted tuples :  [(34, 55), (12, 45), (78, 25)]

In [12]:
# 32. Write a Python program to Extract Symmetric Tuples
list_of_tuples = [(18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18)]

# Extract symmetric tuples
symmetric_set = set()
for t in list_of_tuples:
    if t[::-1] in list_of_tuples:
        symmetric_set.add(t)

# Print the original list and the set of symmetric tuples
print(list_of_tuples)
print(symmetric_set)

[(18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18)]
{(2, 9), (23, 18), (18, 23), (9, 2)}

In [16]:
#33. Write a Python program to Sort Tuples by their Maximum element


def get_max(sub):
    return max(sub)

test_list = [(4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2)]

print("The original list is : ", test_list)

test_list.sort(key = get_max, reverse = True)

print("Sorted Tuples : ",test_list)

The original list is :  [(4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2)]
Sorted Tuples :  [(19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2)]

In [17]:
#34. Write a Python program to Remove nested records from tuple

tuple_with_nested = (1, 2, (3, 4), 5, (6, (7, 8)), 9)

flattened_tuple = tuple(item for item in tuple_with_nested if not isinstance(item, tuple))

print("Tuple without nested records:", flattened_tuple)

Tuple without nested records: (1, 2, 5, 9)

In [18]:
#35. Write a Python program to print Elements Frequency
from collections import Counter

my_tuple = (1, 2, 3, 2, 2, 3, 4, 5, 1, 2, 5)

my_list = list(my_tuple)# convert into a list

frequency = Counter(my_list)

print("Element frequencies in tuple:")
for element, count in frequency.items():
    print(f"{element}: {count}")

Element frequencies in tuple:
1: 2
2: 4
3: 2
4: 1
5: 2

In [19]:
#36. Write a Python program to get unique elements in nested tuple

nested_tuple = ((1, 2, 3), (2, 3, 4), (3, 4, 5), (4, 5, 6))
unique_elements = {element for tup in nested_tuple for element in tup}
print("Unique elements in nested tuple:", unique_elements)

Unique elements in nested tuple: {1, 2, 3, 4, 5, 6}

In [20]:
#37. Write a Python program to Concatenate tuples to nested tuples
tuple1 = (18, 23, 2, 9)
tuple2 = (10, 3, 11)

# Concatenate the tuples into a nested tuple
concatenated_tuple = (tuple1, tuple2)

# Print the original tuples and the concatenated result
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Tuples after Concatenating:", concatenated_tuple)

Tuple 1: (18, 23, 2, 9)
Tuple 2: (10, 3, 11)
Tuples after Concatenating: ((18, 23, 2, 9), (10, 3, 11))

In [21]:
#38. Write a Python program to Sort by Frequency of second element in Tuple List
tuple_list = [(2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8)]

# Create a dictionary to count the frequency of the second elements
frequency_dict = {}
for tup in tuple_list:
    frequency_dict[tup[1]] = frequency_dict.get(tup[1], 0) + 1

# Custom sorting key function to sort by the frequency of the second element
def sort_by_frequency(tup):
    return frequency_dict[tup[1]]

# Sort the list of tuples using the custom key function
sorted_list = sorted(tuple_list, key=sort_by_frequency)

# Print the original list of tuples and the sorted list
print("Original List of Tuples:", tuple_list)
print("Sorted List of Tuples:", sorted_list)

Original List of Tuples: [(2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8)]
Sorted List of Tuples: [(9, 8), (2, 5), (6, 5), (2, 7), (3, 7), (8, 7)]

In [22]:
#39. Write a Program to sort lists in Tuple

tuple_with_lists = ([3, 2, 1], [6, 5, 4], [9, 8, 7])

sorted_tuple = tuple(sorted(sublist) for sublist in tuple_with_lists)


print("Sorted tuple with lists:")
print(sorted_tuple)

Sorted tuple with lists:
([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [23]:
#40. Write a Python program to Order Tuples using external List

tuple_list = [(1, 'apple'), (2, 'orange'), (3, 'banana'), (4, 'grape')]

order = [3, 1, 0, 2]

ordered_tuples = [tuple_list[i] for i in order]

print("Ordered Tuples:")
for tup in ordered_tuples:
    print(tup)

Ordered Tuples:
(4, 'grape')
(2, 'orange')
(1, 'apple')
(3, 'banana')

In [29]:
#41. Write a Python program to Filter Tuples by Kth element from List

tuple_list = [(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]

k = 1  
value = 5  

filtered_tuples = [tup for tup in tuple_list if tup[k] == value]

print(f"Tuples where the {k}th element is {value}:")
for tup in filtered_tuples:
    print(tup)

Tuples where the 1th element is 5:
(4, 5, 6)

In [1]:
#42. Write a Python program to Closest Pair to Kth index element in Tuple

# Using min() + lambda

test_list = [(3, 4), (78, 76), (2, 3), (9, 8), (19, 23)]

print("The original list is : " + str(test_list))
tup = (17, 23)
K = 1

# Closest Pair to Kth index element in Tuple
# Using min() + lambda
res = min(range(len(test_list)), key = lambda sub: abs(test_list[sub][K - 1] - tup[K - 1]))

# printing result 
print("The nearest tuple to Kth index element is : " + str(test_list[res]))

The original list is : [(3, 4), (78, 76), (2, 3), (9, 8), (19, 23)]
The nearest tuple to Kth index element is : (19, 23)

In [2]:
##43. Write a Python program to Tuple List intersection (Order irrespective)
list1 = [(1, 2), (3, 4), (5, 6)]
list2 = [(3, 4), (7, 8), (5, 6)]

intersection = list(set(list1) & set(list2))

print("Intersection of tuple lists (order irrespective):")
print(intersection)

Intersection of tuple lists (order irrespective):
[(5, 6), (3, 4)]

In [3]:
#44. Write a Python program to Intersection in Tuple Records Data
list1 = [('A', 65), ('D', 68), ('B', 66)]
list2 = [('D', 68), ('C', 67), ('A', 65)]

# Find the intersection of data records
intersection = [item for item in list1 if item in list2]

# Print the original lists and the intersection
print("list 1:", list1)
print("list 2:", list2)
print("Intersection of data records:", intersection)

list 1: [('A', 65), ('D', 68), ('B', 66)]
list 2: [('D', 68), ('C', 67), ('A', 65)]
Intersection of data records: [('A', 65), ('D', 68)]

In [4]:
#45. Write a Python program to Unique Tuple Frequency (Order Irrespective)
list_of_tuples = [(3, 4), (1, 2), (4, 3), (5, 6)]

# Create a set of sorted tuples to identify unique tuples
unique_tuples = {tuple(sorted(t)) for t in list_of_tuples}

# Count the frequency of each unique tuple
frequency_count = {ut: list_of_tuples.count(ut) for ut in unique_tuples}

# Filter out unique tuples with frequency count greater than 1
unique_tuples_frequency = [ut for ut in frequency_count if frequency_count[ut] > 1]

# Print the original list, unique tuples with frequency count, and their count
print("Original list:", list_of_tuples)
print("Unique tuples Frequency:", unique_tuples_frequency)
print("Unique tuples Frequency Count:", len(unique_tuples_frequency))

Original list: [(3, 4), (1, 2), (4, 3), (5, 6)]
Unique tuples Frequency: []
Unique tuples Frequency Count: 0

In [5]:
#46. Write a Python program to Skew Nested Tuple Summation
#Sample Output
#(1, (2, (3, (4, (5, None)))))
#Summation of 1st positions : 15

def skew_nested_tuple_sum(tup):
    if tup is None:
        return 0
    elif isinstance(tup, tuple):
        return tup[0] + skew_nested_tuple_sum(tup[1])
    else:
        return tup

# Sample nested tuple
nested_tuple = (1, (2, (3, (4, (5, None)))))

# Calculate the summation of 1st positions
result = skew_nested_tuple_sum(nested_tuple)

# Print the original nested tuple and the summation
print(nested_tuple)
print("Summation of 1st positions:", result)

(1, (2, (3, (4, (5, None)))))
Summation of 1st positions: 15

In [6]:
#47. Write a program to convert binary tuple to integer
binary_tuple = (1, 0, 1, 1)

decimal_value = 0
power = len(binary_tuple) - 1

for bit in binary_tuple:
    if bit not in (0, 1):
        print("Invalid binary tuple. It should contain only 0s and 1s.")
        break
    decimal_value += bit * (2 ** power)
    power -= 1

print("Binary Tuple converted to Integer:", decimal_value)

Binary Tuple converted to Integer: 11

In [7]:
#48. Write a Python program to Tuple XOR operation
tuple_a = (1, 0, 1, 0)
tuple_b = (0, 1, 0, 1)

if len(tuple_a) != len(tuple_b):
    print("Tuples should have the same length for XOR operation.")
else:
    xor_result = tuple(x ^ y for x, y in zip(tuple_a, tuple_b))
    print("Result of Tuple XOR Operation:", xor_result)

Result of Tuple XOR Operation: (1, 1, 1, 1)

In [8]:
#49. Write a Python program to AND operation between Tuples
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

# Perform AND operation on corresponding elements of the tuples
and_tuple = tuple(x & y for x, y in zip(tuple1, tuple2))

# Print the original tuples and the result of the AND operation
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("AND operation Between Tuple:", and_tuple)

Tuple 1: (10, 4, 6, 9)
Tuple 2: (5, 2, 3, 3)
AND operation Between Tuple: (0, 0, 2, 1)

In [9]:
#50. Write a Python program to Elementwise AND in tuples
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

# Perform elementwise AND operation on corresponding elements of the tuples
and_tuple = tuple(x & y for x, y in zip(tuple1, tuple2))

# Print the original tuples and the result of the elementwise AND operation
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Elementwise AND Tuple:", and_tuple)

Tuple 1: (10, 4, 6, 9)
Tuple 2: (5, 2, 3, 3)
Elementwise AND Tuple: (0, 0, 2, 1)